(
    rows: [
        "...................................................................................................................................................................................................................",
        "...................................................................................................................................................................................................................",
        "...................................................................................................................................................................................................................",
        "......................................................................................................................................................................................................F............",
        "......................................................................................................................................................................................................F............",
        "....................B?B.........................................................BB............B.....B.....?..?..?........BBB.....BB.....................................BB...........................XF............",
        "....................................................................................................................................................................................................XXF............",
        "...................................................................................................................................................................................................XXXF............",
        ".........................................CCC....................CCC........................................................................................CC.....................................XXXXF............",
        "................?...M.??B....................................................BMB...........BBB?......B....B..?........B.........BM?B.....X..X..........XX...............BB?M.....................XXXXXF............",
        "..............................................[].........[].............................................................................XX..XX........XXX.......................................XXXXXXF............",
        "......................................[]......{}.........{}............................................................................XXX..XXX......XXXX......................................XXXXXXXF............",
        "...S..................G.....[]........{}G.....{}...GG....{}.......................GG.............GG........K......GG........GG..GG....XXXX..XXXX....XXXXX..........[].........GG...[].........XXXXXXXXF............",
        "############################{}########{}######{}#########{}##########..###############...################################################################...#######{}##############{}##############################",
        "#####################################################################..###############...################################################################...#######################################################"
    ]
)
