(
    rows: [
        "....................................................................................................................................................................................................................############",
        "....................................................................................................................................................................................................................############",
        "....................................................................................................................................................................................................................#..........#",
        "......................................................................................................................................................................................................F.............#..........#",
        "......................................................................................................................................................................................................F.............#..........#",
        "....................B?B.........................................................BB............B.....B.....?..?..?........BBB.....BB.....................................BB...........................XF.............#..........#",
        "....................................................................................................................................................................................................XXF.............#.CCCCCCCC.#",
        "...................................................................................................................................................................................................XXXF.............#.CCCCCCCC.#",
        ".........................................CCC....................CCC........................................................................................CC.....................................XXXXF.............#..........#",
        "................?...M.??B....................................................BMB...........BBB?......B....B..?........B.........BM?B.....X..X..........XX...............BB?M.....................XXXXXF.............#..........#",
        "..............................................[].........[].............................................................................XX..XX........XXX.......................................XXXXXXF.............#..........#",
        "......................................[]......{}.........{}............................................................................XXX..XXX......XXXX......................................XXXXXXXF.............#........[]#",
        "...S..................G.....[]........{}G.....{}...GG....{}.......................GG.............GG........K......GG........GG..GG....XXXX..XXXX....XXXXX..........[].........GG...[].........XXXXXXXXF.............#........{}#",
        "############################{}########{}######{}#########{}##########..###############...################################################################...#######{}##############{}########################################{}#",
        "#####################################################################..###############...################################################################...####################################################################"
    ],
    warps: {
        (28, 12): (target_col: 218, target_row: 12),
        (221, 11): (target_col: 163, target_row: 12),
    },
)
