(
    rows: [
        "...................................................................................................................................................................................................................",
        "...................................................................................................................................................................................................................",
        "...................................................................................................................................................................................................................",
        ".................................................F.................................................................................................................................................................",
        ".................................................F.................................................................................................................................................................",
        ".............................?...................F.................................................................................................................................................................",
        ".................................................F.................................................................................................................................................................",
        ".................................................F.................................................................................................................................................................",
        ".....................CCC.........................F.................................................................................................................................................................",
        ".....MM.?TMBL................BBB...........X......F.................................................................................................................................................................",
        ".........................................XX......F.................................................................................................................................................................",
        "....................................[]..XXX......F.................................................................................................................................................................",
        "...S.........GG..[]..............K..{}.XXXX.GGG..F.................................................................................................................................................................",
        "#################{}#####..##########{}####################.........................................................................................................................................................",
        "########################..################################........................................................................................................................................................."
    ]
)
