(
    rows: [
        "...................................................................................................................................................................................................................",
        "...................................................................................................................................................................................................................",
        "...................................................................................................................................................................................................................",
        ".................................................F.................................................................................................................................................................",
        ".................................................F.................................................................................................................................................................",
        ".............................?...................F.................................................................................................................................................................",
        ".................................................F.................................................................................................................................................................",
        ".................................................F.................................................................................................................................................................",
        ".....................CCC.........................F.................................................................................................................................................................",
        ".....MM.?TMBL...............BBB...........X......F.................................................................................................................................................................",
        ".........................................XX......F.................................................................................................................................................................",
        "....................................[]..XXX......F.................................................................................................................................................................",
        "...S.........GG..[]..............K..{}.XXXX.GGG..F.................................................................................................................................................................",
        "#################{}#####..##########{}####################.........................................................................................................................................................",
        "########################..################################........................................................................................................................................................."
    ],
    warps: {
        (17, 12): (target_col: 36, target_row: 11),
        (36, 11): (target_col: 17, target_row: 12),
    },
)
